HOST="localhost"
USER="flow"
PASSWD=""
DATABASE="flow"
CONNTABLE="connections"
ROUTERADDRESS="tcp://*:5556"
DEALERADDRESS="tcp://localhost:5556"
TOKEN=""
TGCONN="tgconnections"
TGCHATS="tgchats"
TGIDENTITY="telegram"
